/*
	Litecpool styles
*/

body {
	background-image: url("images/fondo_agua.png");
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#title {
	text-align: center;
	padding-bottom: 10px;
	display: block;
}

#imgContent {
	max-width:  90%;
	max-height: 90%;
	border: 1px solid #021a40;
}

.desc {
	text-align: center;
}

.wrap {
  	width: 100%;

}

.left {
  float: left;
  width: 33%;
}

.center { 
	 display: inline-block; width: 33%;
}

.right {
  float: right;
  width: 33%;
}

.texto {
	background-color: rgb(202,230,244);
}